@charset "UTF-8";

/**
 * Основные стили
 **/

html {
  color: #000000;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-decoration-skip: objects;
  box-sizing: border-box;
  margin: 0;

  @media(min-width: 1920px) {
    max-width: 1920px;
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}

img[alt] {
  font-size: 10px;
}

a {
  @include link-reset();
}

ul {
  @include list-reset();
}

button {
  @include button();
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

*:hover {
  transition: all 0.2s ease 0s;
}