$white: #ffffff;

$color-dark: #313131;
$color-red: #F54932;
$color-blue: #3057A2;
$color-gray: #D9D9D9;
$color-yellow: #FBCE51;

$dark-common: #1F1F1F;
$disabled: rgba(49, 49, 49, 0.2);

$desktop: "1366px";
